<html>
    <head>
        <title>Flask-Moment example app</title>
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
    </head>
    <body>
        <p>The current date and time is: {{ moment().format('MMMM Do YYYY, h:mm:ss a') }}.</p>
        <p>
            {{ moment(midnight).fromTime(now) }} it was midnight in the UTC timezone. 
            That was {{ moment(midnight).calendar() }} in your local time.
        </p>
        <p>
            This page was rendered on {{ moment(now).format('LLL') }},
            which was {{ moment(now).fromNow(refresh = True) }}.
        </p>
    </body>
</html>
